@font-face {
  font-family: 'Mansalva';
  font-style: normal;
  font-weight: 400;
  src: url('../font/mansalva-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Mansalva Regular'), local('Mansalva-Regular'),
       url('../font/mansalva-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/mansalva-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/mansalva-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/mansalva-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/mansalva-v1-latin-regular.svg#Mansalva') format('svg'); /* Legacy iOS */
}

/* The sidebar menu */
#mySidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 25%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px;
  }
  
  /* The navigation menu links */
  #mySidebar a,span{
    padding: 3px 25px 3px 20px;
    text-decoration: none;
    font-size: 70%;
    color: #818181;
    display: block;
    text-align-last: right;
    font-family: 'Mansalva';
  }

  span {
    font-size: 120%;
    padding: 0px 20px 0px 16px;
    font-weight: bold;}

  #name {
    padding-bottom: 10px
  }
  
  /* When you mouse over the navigation links, change their color */
  #mySidebar a:hover {
    color: #f1f1f1;
  }
  


  /* Style page content */
  .main {
    margin-left: 25%; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  

@media screen and (max-width: 800px) {
  #mySidebar {
     display: none;
  }

  .main{
    margin-left: 0%;
    
  }
}